.dark {
    filter: brightness(85%);
}

.bold {
    font-weight: bold;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bold {
    font-weight: bold;
}

h3 {
    text-align: center;
}

.top {
    margin-top: 10px;
}

h5 {
    font-size: 30px;
    text-align: center;
}

h6 {
    text-align: center;
}

.user-image {
    border-radius: 50%;
    display: inline-flex;
}

p {
    color: white;
}

.user-image img {
    width: 205px;
    height: 205px;
    background-size: cover;
    display: block;
    border-radius: 100px;
}

table {
    width: 1000px;
}

h1 {
    color: white;
    text-align: center;
}

.card {
    position: relative;
    border: 1px solid #333;
    margin: 2%;
    overflow: hidden;
    width: 540px;
}

.container {
    padding-left: 0;
    padding-right: 0;
}

.top {
    margin-top: 10px;
}

h5 {
    font-size: 30px;
    text-align: center;
}

h6 {
    text-align: center;
}

label {
    display: none;
}